---
import draft1 from "../assets/drafts/draft1.webp";
import draft2 from "../assets/drafts/draft2.jpg";
import draft3 from "../assets/drafts/draft3.jpg";
import draft4 from "../assets/drafts/draft4.jpg";
import draft5 from "../assets/drafts/draft5.jpg";
---

<div class="container-blue">
  <div class="container boxes">
    <div class="feature">
      <p>Introducing <span class="bluesito">Kadence AI ✦.</span></p>
    </div>
    <div class="container boxes">
      <h3 class="title-draft">Next level site creation with AI</h3>
    </div>
  </div>
  <div class="container-images">
    <div class="space">
      <img src={draft1.src} class="laptop" alt="editor" />
    </div>

    <img src={draft2.src} class="laptop" alt="editor" />
    <div class="space">
      <img src={draft3.src} class="laptop" alt="editor" />
    </div>
    <img src={draft4.src} class="laptop" alt="editor" />
    <div class="space">
      <img src={draft5.src} class="laptop" alt="editor" />
    </div>
  </div>

  <div class="container">
    <div class="blocks">
      <div class="bloque-1">
        <h4>First draft in minutes</h4>
        <p>
          Create stunning websites effortslessly with a streamlined process
          powered by Kadence AI
        </p>

        <div class="button-container">
          <div class="boton">
            <a
              class="kb-button kt-button button kb-btn547444_1e7786-06 kt-btn-size-standard kt-btn-width-type-auto kb-btn-global-inherit kt-btn-has-text-false kt-btn-has-svg-true ktblocksvideopop wp-block-button__link wp-block-kadence-singlebtn kb-video-pop-1"
              aria-label="Watch a video on how AI works"
              href="https://www.youtube.com/watch?v=JxQd4jYQ96o"
              rel="noopener"
              role="button"
              aria-haspopup="dialog"
              ><span
                class="kb-svg-icon-wrap kb-svg-icon-fe_play kt-btn-icon-side-right"
                ><svg
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  ><polygon points="5 3 19 12 5 21 5 3"></polygon></svg
                ></span
              ></a
            >
          </div>
          <p class="watch">← Watch how it works</p>
        </div>

        <div class="bloque-3">
          <p>Take Kadence AI for a test drive →</p>
        </div>
      </div>

      <div class="bloque-2">
        <div class="star">
          <span class="kb-svg-icon-wrap kb-svg-icon-kb-ai-kadence-ai"
            ><svg
              viewBox="-12 0 1024 999"
              preserveAspectRatio="xMinYMin meet"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M416.019 619.22l52.124-113.364 113.339-52.099-113.339-52.124-52.124-113.339-52.124 113.339-113.339 52.124 113.339 52.099 52.124 113.364zM416.019 770.098l-98.853-217.488-217.513-98.853 217.513-98.878 98.853-217.488 98.853 217.488 217.513 98.878-217.513 98.853-98.853 217.488zM773.994 886.659l-48.902-109.268-109.268-48.902 109.268-49.951 48.902-108.244 49.951 108.244 108.244 49.951-108.244 48.902-49.951 109.268z"
              ></path></svg
            ></span
          >
        </div>
        <h4>How it works</h4>
        <ol>
          <li>
            Give the AI website builder some basic info about your business.
          </li>
          <li>
            Sit back and relax as the tool populates various website layouts
            with AI-generated text and open-source images suitable for your
            project.
          </li>
          <li>Customize the Starter Template however you'd like!</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<style>
  .container-blue {
    background-color: #1c202b;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .feature {
    position: relative;
    width: 18%;
    padding: 13px 1px;
    background-color: #333741;
    margin: 0 auto;
    text-align: center;
    top: 7em;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #454851;
  }

  .feature p {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
  }

  .title-draft {
    font-size: 4rem;
    color: #f6f6f6;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem;
  }

  .bluesito {
    color: #639bef;
  }

  p {
    color: white;
  }

  /* container de las imagenes  */
  .container-images {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 7rem;

    /* hace que sobresalgan */
    width: 130%;
    transform: translateX(-10%);

    /* animación suave */
    transition: transform 0.15s linear;
    will-change: transform;
  }

  .container-images img {
    width: 520px;
    flex-shrink: 0;
    border-radius: 8px;
  }

  .space {
    /* margin-top: 3.5rem; */
  }

  /* ahora la seccion de abajo de las imagenes */
  .blocks {
    display: flex;
    /* background-color: red; */
    margin-top: 8rem;
    gap: 2rem;
    margin-bottom: 7rem;
  }

  .bloque-1 {
    background-color: #303747;
    border-radius: 8px;
    width: 61%;
    height: 430px;
    /* flex-direction: column; */
  }

  .bloque-2 {
    background-color: #3a71de;
    border-radius: 8px;
    width: 36%;
  }

  .bloque-1 h4 {
    margin: 0;
    padding: 3rem;
    font-size: 3rem;
    color: #f6f6f6;
  }

  .bloque-2 h4 {
    font-size: 2.2rem;
    padding-left: 3rem;
    color: #f6f6f6;
    padding-top: 2rem;
  }

  .bloque-1 p {
    margin: 0;
    font-size: 1.8rem;
    padding-left: 3rem;
    color: #f6f6f6;
    line-height: 1.8;
  }

  .star {
    position: relative;
    left: 3rem;
    top: 3rem;
    color: white;
    width: 10%;
    border-radius: 100px;
    padding: 1rem;
    border: 1px solid white;
  }

  .watch {
    color: #d0d6e3;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .bloque-3 {
    border: 1px solid #3f4658;
    border-radius: 8px;
    margin-top: 6.7rem;
    padding: 2.5rem 3rem;
  }

  .bloque-3 p {
    margin: 0;
    font-size: 1.7rem;
    color: #f6f6f6;
  }

  .bloque-2 ol {
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 3rem;
    color: #f6f6f6;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .bloque-2 li {
    margin-bottom: 1.5rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
  }

  .boton {
    width: 5%;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 100px;
    background-color: #1f232c;
  }

  .boton a {
    color: white;
  }
</style>

<script>
  //Animacion del desplazamiento para el draft
  const images = document.querySelector(".container-images");
  window.addEventListener("scroll", () => {
    const scroll = window.scrollY;
    let movement = scroll * 0.06;
    movement = Math.max(-120, Math.min(120, movement));
    images.style.transform = `translateX(calc(-10% - ${movement}px))`;
  });
</script>
